@use 'vars';

button {
    border-radius: 6px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    position: relative;
    border: none;

    transition-duration: 0.15s;
    transition-timing-function: ease;

    display: flex;
    align-items: center;
}

.primary-button {
    color: var(--blanco);
    background-color: var(--negro-3);
    padding: 0 16px;
    height: 40px;
    &:hover{
        background-color: var(--negro-2);
    }
}

.secundary-button {
    color: var(--negro-3);
    background: none;
    padding: 0 16px;
    height: 40px;
    &:hover{
        background-color: var(--blanco-2);
    }
}

.tiny-button {
    color: var(--blanco);
    background-color: var(--negro-3);
    padding: 0 12px;
    height: 32px;
    &:hover{
        background-color: var(--negro-2);
    }
}

.white-button {
    color: var(--negro-3);
    background-color: var(--blanco);
    padding: 0 16px;
    height: 32px;
    border: 1px solid var(--gris-1);
    &:hover{
        background-color: var(--blanco-2);
    }
}

.icon-button{
    color: var(--blanco);
    background-color: var(--negro-3);
    padding: 6px 6px;
    svg {
        transform: scale(.67);
        margin: 0;
    }
    &:hover{
        background-color: var(--negro-2);
    }
}