$fonts: (
  'Geist Regular': 'Geist-Regular.woff2',
  'Geist Bold': 'Geist-Bold.woff2',
);

@each $font-name, $font-file in $fonts {
  @font-face {
    font-family: #{$font-name};
    src: url('../assets/fonts/#{$font-file}') format('woff2');
    font-weight: if(index($font-file, 'bold'), bold, normal);
    font-style: normal;
  }
}


.big-title{
  line-height: 85px;
  font-size: 82px;
  font-weight: 600;

  @media (max-width: 767px) {
    line-height: 72px;
    font-size: 69px;
  }
  @media (max-width: 425px) {
    line-height: 53px;
    font-size: 51px;
  }
}
.big-subtitle{
  line-height: 32px;
  font-size: 20px;
  font-weight: 400;

  @media (max-width: 425px) {
    line-height: 28px;
    font-size: 18px;
  }
}
.medium-title{
  line-height: 40px;
  font-size: 37px;
  font-weight: 600;
}
.normal-title{
  line-height: 40px;
  font-size: 32px;
  font-weight: 500;
}
.normal-text{
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}
.tiny-text{
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}