@use 'vars';
@use 'buttons';

body {
    background-color: #fafafa;
    font-family: 'Geist', Arial, sans-serif;
    padding: 0;
    margin: 0;

    a {
        text-decoration: none;
        margin: 0;
        color: initial;
    }
}

.lobby {
    min-height: 95vh;
    @media (max-width: 767px){
        min-height: 70vh;
    }
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    header {
        .container-fluid {
            background-color: #171717;
            .upper-bar{
                display: flex;
                gap: 6px;
                padding: 6px 12px;
            }
        }
        nav{
            .icon-button {
                color: #111;
                background-color: white;
                border: 1px solid hsla(0, 0, 0, 0.08);
                &:hover{
                    background-color: #fafafa;
                }
                &:focus{
                    box-shadow: none;
                }
            }
            ul{
                list-style: none;
                li{
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        button{
                            width: 100%;
                            justify-content: center;
                        }
                        
                    }
                }
            }
        }
    }
}

.hero-section{
    h2{
        color: rgb(23, 23, 23);
    }
    p{
        color: rgb(102, 102, 102);
    }
    .container {
        padding: 64px 12px;
        @media (max-width: 425px) {
            padding-bottom: 96px;
        }
    }
}

.internal-links-section{
    .internal-links-card{
        background-color: #111;
        color: white;
        aspect-ratio: 1 / 1;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            color: rgb(161, 161, 161);
        }
    }
}

.services-section {
    margin-bottom: 48px;
    .services-section-card{
        padding: 48px 0 0 0;
        h4{
            color: rgb(23, 23, 23);
        }
        p{
            color: rgb(102, 102, 102);
            max-width: 500px;
        }
        figure{
            border-radius: 6px;
            aspect-ratio: 4 / 3;
            overflow: hidden;
            margin: 0;
            img{
                max-height: 100%;
                filter: saturate(0);
            }
        }
    }
}


footer {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto;
    background-color: #111;

    .contact{
        background-color: #171717;
        color: white;
        padding: 24px 0;

        border-radius: 0 0 12px 12px;

        .container{
            .row{
                button {
                    color: rgb(161, 161, 161);
                    &:hover {
                        color: white;
                    }
                }
            
                .links {
                    @media (max-width: 767px) {
                        margin-bottom: 24px;
                    }
                    h3{
                        margin-bottom: 12px;
                    }
                    .footwrapper{
                        figure{
                            max-width: 300px;
                            border-radius: 6px;
                            overflow: hidden;
                            margin: 0 12px 0 0;
                            img{
                                max-width: 100%;
                                filter: saturate(0);
                            }
                            @media (max-width: 767px) {
                                margin: 0 0 6px 0;
                            }
                        }
                        div{
                            gap: 6px;
                        }

                        @media (max-width: 767px) {
                            flex-direction: column;
                            align-items: center;
                            div {
                                align-items: center;
                            }
                        }
                    }
                }

                .social-media{
                    align-items: end;
                    justify-content: end;

                    @media (max-width: 767px) {
                        justify-content: center;
                    }
                }
            }
        }

    }
    .copyright{
        color: rgb(161, 161, 161);
        padding: 6px 0;
        .container{
            button {
                color: rgb(161, 161, 161);
                &:hover {
                    color: white;
                }
            }
            justify-content: space-between;
            span {
                color: white;
            }
            @media (max-width: 767px) {
                justify-content: center;
                gap: 12px;
            }
        }

    }
}
